{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    {{ sub_title }}
{% endblock title %}

{% block extra_css %}
    	<!--Data table-->
	<link rel="stylesheet" href="{% static 'css/buttons.bootstrap5.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.bootstrap5.min.css' %}">
{% endblock extra_css %}

{% block body %}
<div class="row">
    <!-- Zero config table start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 id="page_title">{{ sub_title }}</h5>
                <div class="cart-tools">
                    <a href="{% url 'r_inventario_fisico' %}" target="_blank" id="btn_filter" class="btn btn-icon btn-outline-danger ml-10">
                        <i class="fa fa-file-text mr-1"></i> Generar Reporte
                    </a>
                    <a href="{% url 'registrar_contabilidad' %}" class="btn btn-icon btn-info" data-bs-toggle="tooltip" title="Registrar Inventario Fisico">
                        <i class="fa fa-plus text-white"></i>
                    </a>
                </div>
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                <span class="badge badge-pill badge-success">Exito!</span>
                                {{ message }}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                <span class="badge badge-pill badge-danger">Error!</span>
                                {{ message }}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="dt-responsive table-responsive">
                    <table id="listado_contabilidad_fisica" class="table table-striped table-hover table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Proceso actual</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for c in contabilidades_fisicas %}
                                <tr>
                                    <td>{{ c.pk }}</td>
                                    <td>{{ c.fecha|date:'d/m/Y' }}</td>
                                    <td>{{ c.get_proceso_actual_display }}</td>
                                    <td>{{ c.get_estado_display }}</td>
                                    <td>
                                        <a href="{% url 'detalle_contabilidad' c.pk %}" rel="detail" class="btn btn-info" data-bs-toggle="tooltip" title="Detalle de inventario fisico">
                                            <i class="fa fa-info"></i>
                                        </a>
                                        
                                        {% if request.user.perfil.rol == 'AD' %}
                                            {% if c.estado == 'CO' %}
                                                <a href="{% url 'modificar_contabilidad' c.pk %}" rel="edit" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar Inventario fisico">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            {% endif %}
                                            
                                            {% if c.estado == 'CO' or c.estado == 'PR' %}
                                                <a href="#" rel="ban" class="btn btn-danger" data-bs-toggle="tooltip" title="Rechazar Jornada">
                                                    <i class="fa fa-ban"></i>
                                                </a>
                                            {% endif %}
                                                
                                        {% elif request.user.perfil.rol == 'AL' %}
                                            {% if c.estado == 'PR' %}
                                                <a href="{% url 'modificar_contabilidad' c.pk %}" rel="edit" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar Inventario fisico">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                            

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Proceso actual</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                    </table>
                        
                </div>
            </div>
        </div>
    </div>
    <!-- Zero config table end -->
</div>

<div class="modal fade" id="modal_rechazo" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true" style="display: none;">
    <form action="/rechazar-inventario-fisico/" method="post" id="form_motivo_rechazo">
        {% csrf_token %}
        <input type="hidden" name="pk" id="pk">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="modal-title" id="mediumModalLabel">Motivo del Rechazo</h5>
                        <div class="cart-tools">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="id_motivo_rechazo">Motivo del rechazo</label>
                        <textarea class="form-control form-control-sm" name="motivo_rechazo" id="id_motivo_rechazo" rows="4" onkeypress="return Texto_Numeros(event)" style="resize: none;"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock body %}


{% block extrajs %}
    <!--Data table-->
    <script src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/plugins/responsive.bootstrap5.min.js' %}"></script>

    <script>

        let tabla = $('#listado_contabilidad_fisica').DataTable({
            responsive: true,
            autoWidth: false,
            destroy: true,
            deferRender: true,
            ordering: false,
            searching: true,
            paging: true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrand del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            initComplete: function(settings, json) {

            }
        });

        // MOSTRAR MODAL RECHAZO
        $('#listado_contabilidad_fisica tbody').on('click', 'a[rel="ban"]', function () {
            $('#form_motivo_rechazo')[0].reset();
            var tr = tabla.cell($(this).closest('td, li')).index();
            var data = tabla.row(tr.row).data();

            $('input[name="pk"]').val(data[0]);
            $('#modal_rechazo').modal('show');
        });

    </script>

{% endblock extrajs %}
    