<div class="modal fade" id="smallmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form method="POST" id="form_edit_info" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="action_edit" id="action_edit" value="editar_info">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="smallmodalLabel">Editar mi Información Personal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-2 mb-3">
                        <div class="col">
                            <label for="">Telefono</label>
                            <input type="text" name="telefono" class="form-control" maxlength="11" minlength="11" value="{{mi_dato.telefono}}" required onkeypress="return Solo_Numero(event)">
                        </div>
                        {% if not mi_dato.genero == 'MA' %}
                            <div class="col">
                                <div class="col-6">
                                    <label for="">¿Está embarazada?</label> <br>
                                    <input type="checkbox" name="embarazada" {% if mi_dato.embarazada %} checked {% endif %}>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="col-4">
                                    <label for="">Correo</label>
                                    <input type="email" name="email" class="form-control" value="{{request.user.email}}" required>
                                </div>
                                <div class="col-4">
                                    <label for="">Zona</label>
                                    <select name="zona" class="form-control" required>
                                        <option value="{{mi_dato.zona}}">{{mi_dato.zona}}</option>
                                        {% for z in zonas %}
                                        <option value="{{z.zona_residencia}}">{{z.zona_residencia}}</option>
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                                <div class="col-4">
                                    <label for="">Constancia de residencia</label>
                                    <input type="file" class="form-control-file" name="c_residencia">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Patologia</label>
                            <textarea name="patologia" cols="30" rows="3" class="form-control" required style="resize: none;" onkeypress="return Texto_Numeros(event)">{{mi_dato.patologia}}</textarea>
                        </div>
                        <div class="col">
                            <label for="">Ubicación</label>
                            <textarea name="direccion" cols="30" rows="3" class="form-control" required style="resize: none;" onkeypress="return Texto_Numeros(event)">{{mi_dato.direccion}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>